<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>za.co.tshepo.web.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionServlet</servlet-name>
        <servlet-class>za.co.tshepo.web.EndSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>za.co.tshepo.web.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryValueServlet</servlet-name>
        <servlet-class>za.co.tshepo.web.InventoryValueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLowStockCountServlet</servlet-name>
        <servlet-class>za.co.tshepo.web.GetLowStockCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProductsServlet</servlet-name>
        <servlet-class>za.co.tshepo.web.GetAllProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionServlet</servlet-name>
        <url-pattern>/EndSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryValueServlet</servlet-name>
        <url-pattern>/InventoryValueServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLowStockCountServlet</servlet-name>
        <url-pattern>/GetLowStockCountServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProductsServlet</servlet-name>
        <url-pattern>/GetAllProductsServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/unauthorized_user.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/file_not_found.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>AdminResource</web-resource-name>
            <description>Resource available to admin.</description>
            <url-pattern>/index.html</url-pattern>
            <url-pattern>/menu.html</url-pattern>
            <url-pattern>/add_product.jsp</url-pattern>
            <url-pattern>/add_p_outcome.jsp</url-pattern>
            <url-pattern>/AddProductServlet.do</url-pattern>
            <url-pattern>/InventoryValueServlet.do</url-pattern>
            <url-pattern>/calculate_outcome.jsp</url-pattern>
            <url-pattern>/update_product.jsp</url-pattern>
            <url-pattern>/UpdateProductServlet.do</url-pattern>
            <url-pattern>/update_p_outcome.jsp</url-pattern>
            <url-pattern>/GetLowStockCountServlet.do</url-pattern>
            <url-pattern>/low_stock_outcome.jsp</url-pattern>
            <url-pattern>/EndSessionServlet.do</url-pattern>
            <url-pattern>/GetAllProductsServlet.do</url-pattern>
            <url-pattern>/get_all.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Resource available to admin.</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ClerkConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ClerkResource</web-resource-name>
            <description>Resource available to clerk.</description>
            <url-pattern>/index.html</url-pattern>
            <url-pattern>/menu.html</url-pattern>
            <url-pattern>/update_product.jsp</url-pattern>
            <url-pattern>/UpdateProductServlet.do</url-pattern>
            <url-pattern>/update_p_outcome.jsp</url-pattern>
            <url-pattern>/GetLowStockCountServlet.do</url-pattern>
            <url-pattern>/low_stock_outcome.jsp</url-pattern>
            <url-pattern>/GetAllProductsServlet.do</url-pattern>
            <url-pattern>/get_all.jsp</url-pattern>
            <url-pattern>/EndSessionServlet.do</url-pattern>
            
        </web-resource-collection>
        <auth-constraint>
            <description>Resource available to clerk.</description>
            <role-name>clerk</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Role available to admin</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>Role available to clerk</description>
        <role-name>clerk</role-name>
    </security-role>
</web-app>
